/.venv
/.vscode
/1776861614487171.png
/1776861623693493.png
/1779110476.7324288_raw.json
/435camera.py
/435test
/7a4b33250ecd4f7758e411e271c39a50.jpg
/argumentdate.py
/augment_flip_yolo.py
/bag_clip.py
/bag_tes.py
/best
/best.pt
/best2.pt
/best_single.pt
/best_single2.pt
/best_test.py
/calib_20260413_153051_color.png
/calib_20260413_153051_depth_raw.png
/calib_20260413_153051_depth_vis.png
/calib_20260413_153051_intrinsics.txt
/calib_20260413_153051_points.npy
/calib_20260413_153051_texcoords.npy
/change_json.py
/change_label.py
/chunshijue.py
/cloud.py
/cloud2.py
/cloud3.py
/cluster.py
/compute_distance.py
/config.yaml
/convert.py
/Data_Check20260526.md
/final_test.py
/frames
/image_test.py
/jiezhen_demo.py
/jingganceliang.oy
/jsonTOtxt.py
/line.pt
/model.yaml
/PickOrient.zip
/pick_points.py
/README.md
/runs
/test.py
/test1
/testrealsense.ply
/tomato_best.pt
/tomato_final_result.jpg
/tomato_result.jpg
/unripe_clip.py
/xyz_output
/yolo11n.pt
/yolov8n.pt
/yolov8s.pt
/yolov8test.py
/模型演示.doc